.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.modal {
  position: absolute;
  background: white;
  top: 30%;
  left : 50%;
  transform: translate(-50%,-75%);


.btn{
position: relative;

}}